../../node_modules/

# cargo generated
../../target/

# ts-rs generated
../../bindings/

# sveltekit generated
../../.svelte-kit/

# build output
../../build/

# prod docker configs
../prod/
